.about-main{
    display: flex; 
    justify-content: space-between; 
    align-items: center;         
    gap: 50px;                  
    max-width: 900px;            
    margin: 0 auto; 
    flex-direction: column;
    flex-direction: row;
}
.image-2{
    width: 300px;
    height: 400px;
    object-fit: cover;    
}
.image-container2{
    flex-shrink: 0;             
}
.head{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.about-text{
    max-width: 500px;
    line-height: 1.5;
    margin-bottom: 180px;
}
.first{
    color: rgb(255, 0, 0);
    font-size: 50px;
}

