.contact-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;  
    min-height: 70vh;     
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 20px;
}
.contact-text{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.icon-containers {
    position: absolute;   
    bottom: 20px;         
    left: 20px;         
    display: flex;
    gap: 20px;
    font-size: 24px;
    margin-bottom: 50px;
    margin-right: 30px;
    
}

.left{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 100px;
    gap:20px;
    margin-top: 120px;
}
.name-container{
    padding: 5px 10px 5px 35px;
    border-radius: 4px;
}
.email-container{
    padding: 5px 10px 5px 35px;
    border-radius: 4px;
}
.subject-container{
   padding: 5px 10px 5px 35px; 
}
.message-container{
    padding: 5px 5px 80px 35px;
    border-radius: 4px;
}
.button-message{
     padding: 5px 57px 5px 57px; 
    background-color: rgb(227, 143, 143);
    border-radius: 4px;

}