
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #111;
}

button, .highlight {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
html {
    scroll-behavior: smooth;
}

input, .button-message, .icon-containers a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h1 {
    font-size: 48px;
    line-height: 1.2;
}
h2, h3 {
    font-size: 32px;
    line-height: 1.3;
}
p {
    color: #f0f0f0; 
}

