.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    margin-left: 500px;
    background-color: rgb(81, 81, 81);
    border-style: solid;
    border: 1px;
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
    flex-shrink: 0;
    color: black;
    border-radius: 4px;
    position: fixed;
    margin-top: 0;

}
.header a{
    color: white;
    text-decoration: none;
    font-size:18px;
}
