.Me {
    display: flex; 
    justify-content: space-between; 
    align-items: center;         
    gap: 50px;                  
    max-width: 900px;            
    margin: 0 auto;              
}

.text {
    max-width: 500px;            
}

.name {
    margin-top: 50px;
    font-size: 36px;
    color: rgb(237, 58, 58);
}

.intro {
    font-size: 18px;
    line-height: 1.5;
}

.image-container {
    flex-shrink: 0;             
}

.my-image {
    width: 300px;
    height: 300px;
    object-fit: cover;           
    border-radius: 50%;
    margin-top: 50px;       
}